{% extends "layout/base.html" %}

{% block title %}Friends{% endblock %}
{% block content %}



    <!-- Timeline content -->
    <div class="container" style="margin-top:20px;">
      <div class="row">
        <div class="col-md-10">
          <div class="row">
              <div class="col-md-10 col-md-offset-1 animated fadeInRight">
                  <div class="row">
                  {% for friend in friends %}
                      <div class="col-sm-4 margin40">
                          <div class="item-img-wrap ">
                              <img src="{{ friend.users.photo }}" class="img-responsive" alt="workimg">
                              <div class="item-img-overlay">
                                  <a href="profile.html">
                                      <span></span>
                                  </a>
                              </div>
                          </div> 
                          <div class="work-desc">
                              <h3><a> {{ friend.users.first_name }} {{ friend.users.last_name }}</a></h3>
                              <span>Ceo, Assan inc.</span>
                          </div><!--work desc-->
                      </div><!--speakers col end-->
                    {% endfor %}
              </div>
          </div>
        </div>
      </div>
    </div><!-- end timeline content-->


 {% endblock %}