{% extends "layout/shorttop.html" %}

{% block title %}Home{% endblock %}
{% block content %}
    <script src="assets/js/grid_posts.js"></script>
    <link href="assets/css/grid_posts.css" rel="stylesheet">
    <!-- Timeline container -->
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <hr>
          <section id="blog-landing">
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/1.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit.</p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/2.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/3.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, </p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/4.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/5.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula</p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/6.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/7.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/8.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non so</p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/9.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis.</p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/1.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/2.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/3.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/4.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non </p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/5.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/6.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a</p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/7.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/8.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec,</p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/9.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin </p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/1.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. </p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/2.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim</p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/3.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consevamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/4.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/5.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. </p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/6.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              </article>
              <article class="white-panel animated fadeInUp"> <img src="img/Photos/7.jpg" alt="ALT">
                  <h1><a href="#">Lorem ipsum dolor sit amet, copiosae appetere</a></h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </article>
          </section>
        </div>
      </div>
    </div><!-- end timeline content-->
    </div><!-- end timeline content-->

        <script type="text/javascript">
        /*========== grid posts ==================*/
      
          $('#blog-landing').pinterest_grid({
            no_columns: 4,
            padding_x: 10,
            padding_y: 10,
            margin_bottom: 50,
            single_column_breakpoint: 700
          });
      
    </script>
 {% endblock %}