{% extends "layout/base.html" %}

{% block title %}Home{% endblock %}
{% block content %}

{% for m in messages.alert %}

<div class="alert alert-success alert-dismissible fade in" style="
    position: fixed;
    top: 50px;
    z-index: 9999;">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Success!</strong> {{m}}
</div>

{% endfor %}
    <!-- Timeline content -->
    <div class="container">
    	<div class="col-md-10 no-paddin-xs">
			<div class="row">
			<!-- left content-->
			  <div class="profile-nav col-md-4">
				<!-- Friends activity -->
				<div class="panel panel-info">
				  <div class="panel-heading">
				    <h3 class="panel-title">Friends activity</h3>
				  </div>
				  <div class="panel-body">
					{% for activity in friendAct %}
					<div class="notification-row">
						<div class="notification-padding">
							<div class="sidebar-fa-image">
								<img class="notifications" src="{{ activity.photo }}">
							</div>
							<div class="sidebar-fa-text">
								<b><a href="#">{{ activity.first_name }} {{ activity.last_name }}</a></b> has
								<b><a href="#">{{ activity.type }}</a></b>.
								<span class="timeago" >5 min ago</span>
							</div>
						</div>
					</div>
					{% endfor %}
				  </div>
    			</div><!-- End Friends activity -->

				<!-- People You May Know -->
				<div class="panel panel-info">
				  <div class="panel-heading">
				    <h3 class="panel-title">People You May Know</h3>
				  </div>
				  <div class="panel-body">
				    <div class="card">
				        <div class="content">
				            <ul class="list-unstyled team-members">
				                <li>
				                    <div class="row">
				                        <div class="col-xs-3">
				                            <div class="avatar">
				                                <img src="img/Friends/guy-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
				                            </div>
				                        </div>
				                        <div class="col-xs-6">
				                           Carlos marthur
				                        </div>

				                        <div class="col-xs-3 text-right">
				                            <btn class="btn btn-sm btn-warning btn-icon"><i class="fa fa-user-plus"></i></btn>
				                        </div>
				                    </div>
				                </li>
				                <li>
				                    <div class="row">
				                        <div class="col-xs-3">
				                            <div class="avatar">
				                                <img src="img/Friends/woman-1.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
				                            </div>
				                        </div>
				                        <div class="col-xs-6">
				                            Maria gustami
				                        </div>

				                        <div class="col-xs-3 text-right">
				                            <btn class="btn btn-sm btn-warning btn-icon"><i class="fa fa-user-plus"></i></btn>
				                        </div>
				                    </div>
				                </li>
				                <li>
				                    <div class="row">
				                        <div class="col-xs-3">
				                            <div class="avatar">
				                                <img src="img/Friends/woman-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
				                            </div>
				                        </div>
				                        <div class="col-xs-6">
				                            Angellina mcblown
				                        </div>

				                        <div class="col-xs-3 text-right">
				                            <btn class="btn btn-sm btn-warning btn-icon"><i class="fa fa-user-plus"></i></btn>
				                        </div>
				                    </div>
				                </li>
				            </ul>
				        </div>
				    </div>
				  </div>
				</div><!-- End people yout may know -->
			  </div><!-- end left content-->
			  <!-- right  content-->
			  <div class="profile-info col-md-8  animated fadeInRight">
				<div class="panel">
				  <form action="./home/store" method="POST">
				      <textarea name="message" placeholder="Whats in your mind today?" rows="2" class="form-control input-lg p-text-area"></textarea>

				  <div class="panel-footer">
				      <button type="submit" class="btn btn-info pull-right">Post</button>
				   </form>
				      <ul class="nav nav-pills">
				          <li>
				              <a href="#"><i class="fa fa-map-marker"></i></a>
				          </li>
				          <li>
				              <a href="#"><i class="fa fa-camera"></i></a>
				          </li>
				          <li>
				              <a href="#"><i class="fa fa-film"></i></a>
				          </li>
				          <li>
				              <a href="#"><i class="fa fa-microphone"></i></a>
				          </li>
				      </ul>
				  </div>
				</div>
				{%for post in comAndPost%}
		        <!-- first post-->
				<div class="panel panel-white post panel-shadow">
				  <div class="post-heading">
				      <div class="pull-left image">
				          <img src="{{post.users.0.photo}}" class="avatar" alt="user profile image">
				      </div>
				      <div class="pull-left meta">
				          <div class="title h5">
				              <a href="#" class="post-user-name">{{post.users.0.first_name}} {{post.users.0.last_name}}</a>
				              {{post.type}}
				          </div>
				          <h6 class="text-muted time">5 seconds ago</h6>
				      </div>
				  </div>
				  {% if post.image %}
				  <div class="post-image">
				      <img src="{{post.image}}" class="image show-in-modal" alt="image post">
				  </div>
				  {% endif %}
				  <div class="post-description">
				      <p>{{post.message}}</p>
				      <div class="stats">
				          <a href="#" class="stat-item">
				              <i class="fa fa-thumbs-up icon"></i>{{post.likes}}
				          </a>
				          <a href="#" class="stat-item">
				              <i class="fa fa-retweet icon"></i>{{post.shares}}
				          </a>
				          <a href="#" class="stat-item">
				              <i class="fa fa-comments-o icon"></i>{{post.comments_count}}
				          </a>
				      </div>
				  </div>
				  <div class="post-footer">
              <form action="./home/store_comment" method="POST">
				            <input name="compost[{{post.id}}]" class="form-control add-comment-input" placeholder="Add a comment..." type="text"><button type="submit" class="btn btn-info">Post Comment</button>
              </form>
				      <ul class="comments-list">
				      {% for c in post.comments %}
				          <li class="comment">
				              <a class="pull-left" href="#">
				                  <img class="avatar" src="{{c.users.photo}}" alt="avatar">
				              </a>
				              <div class="comment-body">
				                  <div class="comment-heading">
				                      <h4 class="comment-user-name"><a href="#">{{c.users.first_name}} {{c.users.last_name}}</a></h4>
				                      <h5 class="time">7 minutes ago</h5>
				                  </div>
				                  <p>{{c.message}}</p>
				              </div>
				          </li>
				        {% endfor %}
				      </ul>
				  </div>
				</div><!-- first post-->
				{%endfor%}
					<div class="panel panel-white post-load-more panel-shadow text-center">
						<button class="btn btn-info">
							<i class="fa fa-refresh"></i>Load More...
						</button>
					</div>
			  </div><!--end right  content-->
			</div>
    	</div>
    </div><!-- end timeline content-->

   {% endblock %}
