{% extends "layout/emptytop.html" %}

{% block title %}Home{% endblock %}
{% block content %}
    <!-- Timeline content -->
    <div class="container container-timeline" style="margin-top:100px;">
    	<div class="col-md-10 no-paddin-xs">
    		<div class="col-md-5 no-paddin-xs">
				<div class="panel panel-info">
				  <div class="panel-heading">
				    <h3 class="panel-title">Notifications</h3>
				  </div>
				  <div class="panel-body">
				  	<img src="img/Friends/woman-1.jpg" class="home-avatar img-circle  img-thumbnail" alt="user profile image">
				  	<a href="profile.html">Hillary McBrewk</a>
				  </div>
				</div>

				<!-- friends -->
				<div class="panel panel-info panel-friends">
					<div class="panel-heading">
					  <a href="#" class="pull-right">View all&nbsp;<i class="fa fa-share-square-o"></i></a>
					  <h3 class="panel-title">Friends</h3>
					</div>
					<div class="panel-body text-center">
					  <ul class="friends">
					    <li>
					        <a href="#">
					            <img src="img/Friends/woman-4.jpg" title="Jhoanath matew" class="img-responsive tip">
					        </a>
					    </li>
					    <li>
					        <a href="#">
					            <img src="img/Friends/woman-3.jpg" title="Martha creawn" class="img-responsive tip">
					        </a>
					    </li>
					    <li>
					        <a href="#">
					            <img src="img/Friends/guy-2.jpg" title="Jeferh smith" class="img-responsive tip">
					        </a>
					    </li>
					    <li>
					        <a href="#">
					            <img src="img/Friends/woman-9.jpg" title="Linda palma" class="img-responsive tip">
					        </a>
					    </li>
					    <li>
					        <a href="#">
					            <img src="img/Friends/guy-9.jpg" title="Lindo polmo" class="img-responsive tip">
					        </a>
					    </li>
					    <li>
					        <a href="#">
					            <img src="img/Friends/guy-5.jpg" title="andrew cartson" class="img-responsive tip">
					        </a>
					    </li>
					  </ul>
					</div>
				</div><!-- end friends -->
				<!-- People You May Know -->
				<div class="panel panel-info">
				  <div class="panel-heading">
				    <h3 class="panel-title">People You May Know</h3>
				  </div>
				  <div class="panel-body">
				    <div class="card">
				        <div class="content">
				            <ul class="list-unstyled team-members">
				                <li>
				                    <div class="row">
				                        <div class="col-xs-3">
				                            <div class="avatar">
				                                <img src="img/Friends/guy-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
				                            </div>
				                        </div>
				                        <div class="col-xs-6">
				                           Carlos marthur
				                        </div>
				            
				                        <div class="col-xs-3 text-right">
				                            <btn class="btn btn-sm btn-warning btn-icon"><i class="fa fa-user-plus"></i></btn>
				                        </div>
				                    </div>
				                </li>
				                <li>
				                    <div class="row">
				                        <div class="col-xs-3">
				                            <div class="avatar">
				                                <img src="img/Friends/woman-1.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
				                            </div>
				                        </div>
				                        <div class="col-xs-6">
				                            Maria gustami
				                        </div>
				            
				                        <div class="col-xs-3 text-right">
				                            <btn class="btn btn-sm btn-warning btn-icon"><i class="fa fa-user-plus"></i></btn>
				                        </div>
				                    </div>
				                </li>
				                <li>
				                    <div class="row">
				                        <div class="col-xs-3">
				                            <div class="avatar">
				                                <img src="img/Friends/woman-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
				                            </div>
				                        </div>
				                        <div class="col-xs-6">
				                            Angellina mcblown
				                        </div>
				            
				                        <div class="col-xs-3 text-right">
				                            <btn class="btn btn-sm btn-warning btn-icon"><i class="fa fa-user-plus"></i></btn>
				                        </div>
				                    </div>
				                </li>
				            </ul>
				        </div>
				    </div>						
				  </div>
				</div><!-- End People You May Know -->
			</div><!-- end left content -->

			<!-- notification list-->
    		<div class="col-md-7 no-paddin-xs">
				<div class="panel panel-white post animated fadeInUp">
				  <div class="post-heading">
				      <div class="pull-left image">
				          <img src="img/Friends/woman-1.jpg" class="avatar" alt="user profile image">
				      </div>
				      <div class="pull-left meta">
				          <div class="title h5">
				              <a href="#" class="post-user-name">Hillary McBrewk</a>
				              liked your <a href="#">Post</a>
				          </div>
				          <h6 class="text-muted time">5 seconds ago</h6>
				      </div>
				  </div>
				</div>

				<div class="panel panel-white post animated fadeInUp">
				  <div class="post-heading">
				      <div class="pull-left image">
				          <img src="img/Friends/guy-2.jpg" class="avatar" alt="user profile image">
				      </div>
				      <div class="pull-left meta">
				          <div class="title h5">
				              <a href="#" class="post-user-name">Deyman Bejarano</a>
				              shared your <a href="#">Post</a>
				          </div>
				          <h6 class="text-muted time">5 seconds ago</h6>
				      </div>
				  </div>
				</div>

				<div class="panel panel-white post animated fadeInUp">
				  <div class="post-heading">
				      <div class="pull-left image">
				          <img src="img/Friends/woman-2.jpg" class="avatar" alt="user profile image">
				      </div>
				      <div class="pull-left meta">
				          <div class="title h5">
				              <a href="#" class="post-user-name">Denny lawer</a>
				              shared your <a href="#">Post</a>
				          </div>
				          <h6 class="text-muted time">5 seconds ago</h6>
				      </div>
				  </div>
				</div>

				<div class="panel panel-white post panel-shadow">
				  <div class="post-heading">
				      <div class="pull-left image">
				          <img src="img/Friends/woman-3.jpg" class="avatar" alt="user profile image">
				      </div>
				      <div class="pull-left meta">
				          <div class="title h5">
				              <a href="#" class="post-user-name">Martha cargrot</a>
				              liked your <a href="#">Post</a>
				          </div>
				          <h6 class="text-muted time">5 seconds ago</h6>
				      </div>
				  </div>
				</div>

				<div class="panel panel-white post panel-shadow">
				  <div class="post-heading">
				      <div class="pull-left image">
				          <img src="img/Friends/woman-4.jpg" class="avatar" alt="user profile image">
				      </div>
				      <div class="pull-left meta">
				          <div class="title h5">
				              <a href="#" class="post-user-name">Carla dorla</a>
				              liked your <a href="#">Post</a>
				          </div>
				          <h6 class="text-muted time">5 seconds ago</h6>
				      </div>
				  </div>
				</div>

				<div class="panel panel-white post panel-shadow">
				  <div class="post-heading">
				      <div class="pull-left image">
				          <img src="img/Friends/woman-5.jpg" class="avatar" alt="user profile image">
				      </div>
				      <div class="pull-left meta">
				          <div class="title h5">
				              <a href="#" class="post-user-name">Maria Bejarano</a>
				              liked your <a href="#">Post</a>
				          </div>
				          <h6 class="text-muted time">5 seconds ago</h6>
				      </div>
				  </div>
				</div>

				<div class="panel panel-white post panel-shadow">
				  <div class="post-heading">
				      <div class="pull-left image">
				          <img src="img/Friends/woman-1.jpg" class="avatar" alt="user profile image">
				      </div>
				      <div class="pull-left meta">
				          <div class="title h5">
				              <a href="#" class="post-user-name">Hillary McBrewk</a>
				              liked your <a href="#">Post</a>
				          </div>
				          <h6 class="text-muted time">5 seconds ago</h6>
				      </div>
				  </div>
				</div>


				<div class="panel panel-white post-load-more panel-shadow text-center">
					<button class="btn btn-info">
						<i class="fa fa-refresh"></i>Load More...
					</button>
				</div>				
    		</div><!-- notification list-->
    	</div>
    </div>
     {% endblock %}