{% extends "layout/base.html" %}

{% block title %}Home{% endblock %}
{% block content %}


    <!-- Timeline content -->
    <div class="container" style="margin-top:20px;">
      <div class="row">
        <div class="col-md-10 animated fadeInRight">
          <div class="row">
          <div class="col-md-12">
              <div id="grid" class="row">
                  <div class="mix col-sm-3 page1 page4 margin30">
                      <div class="item-img-wrap ">
                          <img src="img/Photos/1.jpg" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 

                  </div>
                  <div class="mix col-sm-3 page2 page3 margin30">
                      <div class="item-img-wrap ">
                          <img src="img/Photos/2.jpg" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 

                  </div>
                  <div class="mix col-sm-3  page3 page2 margin30 ">
                      <div class="item-img-wrap ">
                          <img src="img/Photos/3.jpg" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 

                  </div>
                  <div class="mix col-sm-3  page4 margin30">
                      <div class="item-img-wrap ">
                          <img src="img/Photos/4.jpg" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 

                  </div>
                  <div class="mix col-sm-3 page1 margin30 ">
                      <div class="item-img-wrap ">
                          <img src="img/Photos/5.jpg" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 

                  </div>
                  <div class="mix col-sm-3  page2 margin30">
                      <div class="item-img-wrap ">
                          <img src="img/Photos/6.jpg" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 

                  </div>
                  <div class="mix col-sm-3  page3 margin30">
                      <div class="item-img-wrap ">
                          <img src="img/Photos/7.jpg" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 

                  </div>
                  <div class="mix col-sm-3 page4  margin30">
                      <div class="item-img-wrap ">
                          <img src="img/Photos/8.jpg" alt="workimg">
                          <div class="item-img-overlay">
                              <a href="#" class="show-image">
                                  <span></span>
                              </a>
                          </div>
                      </div> 
                  </div>                                                            
              </div><!-- grid-->
          </div>
          </div>
          <div class="row gallery-bottom">
          <div class="col-sm-6">
              <ul class="pagination">
                  <li>
                      <a href="#" aria-label="Previous">
                          <span aria-hidden="true">«</span>
                      </a>
                  </li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                      <a href="#" aria-label="Next">
                          <span aria-hidden="true">»</span>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col-sm-6 text-right">
              <em>Displaying 1 to 8 (of 100 posts)</em>
          </div>
          </div>
        </div>
      </div>
    </div><!-- end timeline content-->
 {% endblock %}
