{% extends "layout/toprecovery.html" %}

{% block title %}Home{% endblock %}
{% block content %}

    <!-- Timeline content -->
    <div  class="principal-container">
        <div class="container">
            <div class="page page-lock ng-scope">
                <div class="lock-centered clearfix">
                    <div class="lock-container">
                        <section class="lock-box">
                            <div class="lock-user ng-binding">Hillary McBrewk</div>
                            <div class="lock-img"><img src="img/Friends/woman-1.jpg" alt=""></div>
                            <div class="lock-pwd">
                                <form class="ng-pristine ng-valid">
                                    <div class="form-group">
                                        <input type="password" placeholder="Email" class="form-control">
                                        <a href="#/" class="btn-submit">
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </form>
                            </div>            
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end Timeline content -->
    <footer class="welcome-footer">
      <div class="container">
        <p>
          <div class="footer-links">
            <a href="#">Terms of Use</a> | 
            <a href="#">Privacy Policy</a> | 
            <a href="#">Developers</a> | 
            <a href="#">Contact</a> | 
            <a href="#">About</a>
          </div>   
          Copyright &copy; Company - All rights reserved       
        </p>
      </div>
    </footer>
  </body>
</html>

{% endblock %}